<h2>About this Site</h2>
<br>
<p>Hello, my name is Andrew, and I built this app as part of the <a href="http://www.gotealeaf.com/curriculum#!rails">second course at Tealeaf Academy</a>. While the app itself has a simple and clean UI, it has a fair amount of complexity under the hood.
</p>

<p>I learned several fundamental aspects of Rails development, by incorporating the following features:
  <ul>
    <li>Ruby 2 and Rails 4</li>
    <li>Model-backed forms</li>
    <li>Using Ajax to vote</li>
    <li>URL Slugs</li>
    <li>Authentication</li>
    <li>Custom time zone display</li>
    <li>Admin roles</li>
  </ul>
</p>

<p>Please feel free to create a user account, and share a link or comment, and vote on other posts and comments. If you'd like to learn more about the program at Tealeaf Academy, please see <a href="http://gotealeaf.com">this link.</a>  To learn more about me, please visit <a href="http://andrewbuckingham.net"> my homepage</a>.
